# ignored filetypes
*.rdf
*.jar
*.xml
*.dll
*.exe
*.dtd
*.properties
*.dat
*.chk
*.xpt
*.ttf
# ignored files and directories
splash.png
winibw*
ERRORLOG
GIT_HOWTO.txt
Uniscribe.htm
chrome/*.txt
chrome/overlayinfo/
chrome/locale/
chrome/icons/
chrome/ibw/skin/
chrome/ibw/locale/
chrome/ibw/content/contents.rdf
chrome/ibw/content/release_start_CBS.htm
chrome/ibw/content/start.htm
chrome/ibw/content/start_CBS.htm
chrome/ibw/content/browser/
chrome/ibw/content/global/
chrome/ibw/content/xul/icons/
chrome/ibw/content/xul/aboutboximage.png
chrome/ibw/content/xul/aboutdialog.xul
chrome/ibw/content/xul/addNumberLanguagecode_dialog.js
chrome/ibw/content/xul/addNumberLanguagecode_dialog.xul
chrome/ibw/content/xul/bcgrepairdialog.js
chrome/ibw/content/xul/bcgrepairdialog.xul
chrome/ibw/content/xul/btnDropDownMozOff.jpg
chrome/ibw/content/xul/btnDropDownMozOn.jpg
chrome/ibw/content/xul/btnDropDownMozSel.jpg
chrome/ibw/content/xul/cmdline.xml
chrome/ibw/content/xul/colorHandling.js
chrome/ibw/content/xul/CommandBar.xul
chrome/ibw/content/xul/commonDialog.css
chrome/ibw/content/xul/commonDialog.js
chrome/ibw/content/xul/commonDialog.xul
chrome/ibw/content/xul/diacritics.xml
chrome/ibw/content/xul/Diacritics.xul
chrome/ibw/content/xul/DocType.js
chrome/ibw/content/xul/DocType.xul
chrome/ibw/content/xul/EndLearningMode.js
chrome/ibw/content/xul/EndLearningMode.xul
chrome/ibw/content/xul/finddialog.js
chrome/ibw/content/xul/finddialog.xul
chrome/ibw/content/xul/findreplacedialog.xul
chrome/ibw/content/xul/general.css
chrome/ibw/content/xul/gotolinedialog.js
chrome/ibw/content/xul/gotolinedialog.xul
chrome/ibw/content/xul/ibw_codeddata.js
chrome/ibw/content/xul/ibw_common.js
chrome/ibw/content/xul/messageBar.css
chrome/ibw/content/xul/MessageBar.xul
chrome/ibw/content/xul/MAB*
chrome/ibw/content/xul/pica.css
chrome/ibw/content/xul/PicaListAutoSave.xul
chrome/ibw/content/xul/PicaListDialog.xul
chrome/ibw/content/xul/PicaTreeDialog.xul
chrome/ibw/content/xul/pica_list.xul
chrome/ibw/content/xul/pica_print.css
chrome/ibw/content/xul/pica_refresh_list.xul
chrome/ibw/content/xul/pica_refresh_page.xul
chrome/ibw/content/xul/print.css
chrome/ibw/content/xul/printdialog.js
chrome/ibw/content/xul/printdialog.xul
chrome/ibw/content/xul/printPageSetup.js
chrome/ibw/content/xul/printPageSetup.xul
chrome/ibw/content/xul/printPreviewProgress.js
chrome/ibw/content/xul/printPreviewProgress.xul
chrome/ibw/content/xul/printProgress.js
chrome/ibw/content/xul/printProgress.xul
chrome/ibw/content/xul/Spell*
chrome/ibw/content/xul/Standard*
chrome/ibw/content/xul/transliterate_dialog.js
chrome/ibw/content/xul/transliterate_dialog.xul
res/
defaults/pref/all.js
defaults/pref/mailnews.js
defaults/pref/security-prefs.js
defaults/pref/winpref.js
plugins/
images/
components/
wordlists/
scripts/zdb_scripts_perUser.js
defaults/pref/proxy_settings.js
scripts/zdb_scripts_perUser.js
winibw.txt
ttlcopy/zdb_titeldatenkopie_digi_bsb.ttl
winibw.txt
startup/ring.jpg
winibw.txt